
.course-details-form {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  // gap: 10px;
}

.course-type {
  margin-top: 15px;
  margin-bottom: 15px;
}

mat-radio-button {
  margin-right: 10px;
}

mat-checkbox {
  margin-bottom: 20px;
}