.edit-course-form {
  min-width: 300px;
  // width: 95%;
}

mat-dialog-content {
  display: flex;
  flex-direction: column;
  padding: 0 15px !important;
}

.description-field {
  margin-top: 0.3rem;
}

.long-description .mat-mdc-input-element {
  height: 100px;
  resize: vertical;
}

mat-dialog-actions {
  margin-top: 0;
  padding-left: 24px;
  padding-top: 0;
}