.edit-course-form {
  min-width: 300px;
}

mat-dialog-content {
  display: flex;
  flex-direction: column;
}

.description-field {
  margin-top: 0.3rem;
}

textarea {
  height: 100px;
  resize: vertical;
}

mat-dialog-actions {
  margin-top: 0;
  padding-left: 24px;
  padding-top: 0;
}