<mat-sidenav-container fullscreen>

    <!-- sidenav, container above needed    -->
    <mat-sidenav #sidenav>
        <mat-nav-list (click)="sidenav.close()">
            <a mat-list-item routerLink="/">
                <mat-icon>library_books</mat-icon>
                <span>Courses</span>
            </a>
            <a mat-list-item routerLink="/about">
                <mat-icon>question_answer</mat-icon>
                <span>About</span>
            </a>
            <a mat-list-item>
                <mat-icon>person_add</mat-icon>
                <span>Sign Up</span>
            </a>
            <a mat-list-item>
                <mat-icon>account_circle</mat-icon>
                <span>Login</span>
            </a>
        </mat-nav-list>
    </mat-sidenav>

    <!-- top toolbar -->
    <mat-toolbar color="primary">
        <button mat-icon-button (click)="sidenav.open()">
            <mat-icon>menu</mat-icon>
        </button>

        <!-- dropdown menu -->
        <a mat-button [matMenuTriggerFor]="dropdown">
            Screens
        </a>
        <mat-menu #dropdown>
            <button mat-menu-item routerLink="/">Courses</button>
            <button mat-menu-item routerLink="/about">About</button>
        </mat-menu>

        <a mat-button>
            <mat-icon>person_add</mat-icon>
            <span>Sign Up</span>
        </a>

        <a mat-button>
            <mat-icon>account_circle</mat-icon>
            <span>Login</span>
        </a>
    </mat-toolbar>

    <!-- main content -->
    <router-outlet></router-outlet>

</mat-sidenav-container>
<!-- <main>
    <mat-slider min="1" max="100" step="1" showTickMarks discrete>
        <input value="50" matSliderThumb>
    </mat-slider>
</main> -->