
@use "@angular/material" as mat;

.container {
  font-family: "Roboto";
  display: flex;
  justify-content: center;
  padding: 30px;
}

.scrolling-container {
  @include mat.elevation(7);
  display: block;
  width: 200px;
  height: 200px;
  overflow-y: scroll;
}
